# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.webpack

xcode

/dist

# ignore jetbrains IDEs files
.idea

.DS_Store

xcuserdata

torspec

screenshots
.swp